$clr-grey:#DCDCDC;
$clr-red:#FE3635;
$clr-orange:#FF9704;
$clr-green:#77B719;
$clr-green-dark:#2B9B08;
$clr-buhler:#009B97;

.clr-grey{
  color: $clr-grey;
}
.clr-red{
  color: $clr-red;
}
.clr-orange{
  color: $clr-orange;
}
.clr-green-dark{
  color: $clr-green-dark;
}
.clr-buhler{
  color: $clr-buhler;
}
.clr-green{
  color: $clr-green;
}
.clr-white{
  color: white;
}